{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"],
  "importOrder": ["^[./]"]
}